
.feed-widgets-wrapper {
    padding: 10px 15px;
    padding-bottom: 1px;
    border-radius: 20px;
    background: var(--bkPageSecondary);
    box-shadow: var(--boxShadow);
    flex: 1;

    transition: all .2s ease-in-out;
    cursor: pointer;
}
.feed-widgets-wrapper:hover {
    transform: scale(1.05);
}

.feed-widgets-upper {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.feed-widgets-upper > ion-icon {
    font-size: 2em;
}
.feed-widgets-upper > div {
    height: 2em;
    border: 2px solid var(--contentPrimary);
    border-radius: 4px;
}
.feed-widgets-upper > span {
    font-size: 1.1em;
}

.feed-widgets-lower {
    overflow: hidden;
    line-height: 60px;
    font-size: 3.5em;
    padding-top: 10px;
}

@media only screen and (max-width: 1201px) {
    .feed-widgets-lower {
        font-size: 3em;
    }
}