
.post-item-footer {
    border-top: 1px solid var(--borderLine);

    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.post-item-comment-area {
    outline: none;
    border: 1px solid var(--borderLine);
    border-radius: 10px;
    background: var(--bkPagePrimary);
    margin-left: 10px;
    padding: 1px 15px;
    width: 100%;
}