
.header-container {
    width: 100%;
    height: 60px;
    background: var(--bkPageSecondary);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    border-bottom: 1px solid var(--borderLine);
    box-shadow: var(--boxShadow);
}

.header-nav {
    width: 100%;
    max-width: 1600px;
    padding: 0 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
.notify-user-control-container {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}


.nav-search-container {
    width: 100%;
    max-width: 400px;
    padding: 3px 15px;
    background: var(--bkPagePrimary);
    border-radius: var(--borderRound);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search-form {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--fgGray);
    font-size: .9em;
}
.nav-search-form .fas {
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 400;
}


.nav-notify-bell {
    width: 35px;
    height: 35px;
    border: 1px solid var(--borderLine);
    border-radius: var(--borderRound);
    color: var(--contentPrimary);

    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}


.user-control-ui {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    cursor: pointer;
}

.nav-user-fullname {
    font-weight: bold;
}

.nav-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
}
.nav-logo-wrapper > .logo {
    width: 150px;
}

@media only screen and (max-width: 1201px) {
    .nav-search-container {
        max-width: 250px;
    }
}
@media only screen and (max-width: 1001px) {
    .nav-user-fullname {
        display: none;
    }
}
@media only screen and (max-width: 801px) {
    .nav-search-container {
        max-width: 200px;
    }
}