
.post-item-header {
    border-bottom: 1px solid var(--borderLine);
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.post-item-user {
    display: flex;
    align-items: center;
}

.post-item-username-datetime {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 15px;
}

.post-item-username {
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    font-size: 1.1em;
    cursor: pointer;
}
.post-item-datetime {
    margin-top: 0;
    padding-top: 0;
    font-size: .9em;
    font-weight: 600;
    color: var(--fgGray);
}