
.subscribed-goals-wrapper {
    width: 100%;
    transition: all .2s linear;
}

.subs-goals-header {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.subs-goals-arrow-trigger {
    width: 30px;
    height: 30px;
    background-color: var(--fgGray);
    mask: url('../../../assets/round_arrow.svg') no-repeat center;
    transition: all .2s ease;
    transform: rotateZ(-90deg);
}
.arrow-rotate-open {
    transform: rotateZ(0deg);
}

.subs-goals-body {
    display: none;
    padding: 20px;
    width: 100%;
    column-gap: 25px;
    row-gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}