
.modal-builder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    position: fixed;
    z-index: 11;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: var(--borderRounded);
}