
.signin-container {
    width: 100%;
}

.signin-wrapper {
    max-width: 450px;
    width: 100%;
    margin: 20px auto;
    margin-top: 100px;
    padding: 30px;
    padding-bottom: 60px;
}
.signin-form {
    display: flex;
    flex-direction: column;
}

.signin-wrapper h1 {
    font-weight: bolder;
    margin-bottom: 50px;
    font-size: 2.8em;
    text-align: center;
}

.signin-fullname {
    display: flex;
    column-gap: 15px;
}

.not-have-account-link {
    text-align: end;
    font-size: small;
    margin: 5px auto;
}

.signin-btn {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.input-label {
    font-weight: 600;
    font-size: 1.1em;
    color: var(--fgGrayDark);
}