
.progress-stick {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.progress-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    color: var(--fgGray);
    font-weight: bold;
}
.kr-progress-bar {
    position: relative;
    outline: none;
    border: 0;
}
.kr-progress-bar-shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
}
.kr-progress-bar-main {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    outline: none;
    border: 0;
}