
.signun-container {
    width: 100%;
}

.signup-wrapper {
    max-width: 450px;
    width: 100%;
    margin: 20px auto;
    margin-top: 100px;
    padding: 30px;
    padding-bottom: 60px;
}
.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-wrapper h1 {
    font-weight: bolder;
    margin-bottom: 50px;
    font-size: 2.8em;
    text-align: center;
}

.signup-fullname {
    display: flex;
    column-gap: 15px;
}

.has-account-link {
    text-align: end;
    font-size: small;
    margin: 5px auto;
}

.signup-btn {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.input-label {
    font-weight: 600;
    font-size: 1.1em;
    color: var(--fgGrayDark);
}